---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import WhySherlock from "../components/WhySherlock.astro";
import ToTop from "../components/ToTop.astro";
import Form from "../components/Form.astro";
---

<Layout title="The Science of Deduction">
  <main class="overflow-hidden">
    <section
      id="home"
      class="flex md:flex-row flex-col justify-around items-center bg-gradient-to-r from-purple-900 to-blue-950 md:px-24 px-10 py-20"
    >
      <img
        class="md:ml-4 rounded-lg shadow-2xl w-80"
        src="/sherlock_shadow.jpg"
        alt="Sherlock shadow"
      />

      <div class="md:ml-10 text-xl mt-5">
        <h1 class="text-3xl font-bold">Introduction</h1>
        <p>
          Welcome to <strong>The Science of Deduction</strong>, where we delve
          into the intricate world of deduction, mystery-solving, and logic,
          inspired by the legendary Sherlock Holmes.
        </p>
        <p>
          Our website is a gateway to honing your observational skills,
          sharpening your deductive prowess, and exploring the intriguing realm
          of mysteries.
        </p>
        <a
          href="/training"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 shadow-indigo-800 shadow-xl hover:shadow-indigo-900 hover:shadow-lg duration-500 transition-shadow"
          >Get started</a
        >
      </div>
      <div class=""></div>
    </section>

    <section
      id="method"
      class="flex flex-col justify-around items-center py-10 bg-slate-300 px-10 sm:px-24 md:px-36"
    >
      <h1 class="text-3xl font-bold text-gray-900 mb-10">Method</h1>

      <div class="relative">
        <div class="gradient-blue"></div>
      </div>

      <div class="relative">
        <div class="gradient-purple"></div>
      </div>

      <div class="flex lg:flex-row flex-col gap-5 z-10">
        <Card title="Observation Mastery" image="/observation.webp">
          Train your eyes to see what others overlook. Explore interactive
          tutorials on honing your observational skills. From minute details to
          overarching patterns, learn to spot the crucial clues.
        </Card>

        <Card title="Logical Reasoning" image="/rubik.webp">
          Delve into the logic behind deduction. Understand Holmes' systematic
          approach to connecting seemingly unrelated facts. Engage in exercises
          that enhance your logical thinking.
        </Card>

        <Card title="Pattern Recognition" image="/pattern.webp">
          Discover the significance of patterns in solving mysteries. Uncover
          how Holmes used his understanding of human behavior and patterns to
          solve the most intricate cases.
        </Card>
      </div>
    </section>

    <section
      id="why"
      class="flex flex-col bg-slate-950 justify-around items-center py-10 text-gray-900 min-h-screen px-10 md:px-36"
    >
      <h1 class="text-3xl font-bold text-white mb-10">Why Sherlock?</h1>

      <WhySherlock />
    </section>

    <section
      id="contact"
      class="flex flex-col justify-around items-center py-10 bg-slate-300 px-10 md:px-36"
    >
      <h1 class="text-3xl font-bold text-gray-900">Contact us</h1>

      <Form />
    </section>
    <ToTop />
  </main>

  <style>
    .gradient-purple {
      position: absolute;
      z-index: 0;
      top: 8rem;
      right: 20rem;
      width: 400px;
      height: 400px;
      background: transparent;
      background: radial-gradient(at center, #8408d170, transparent 70%);
    }

    .gradient-blue {
      position: absolute;
      z-index: 0;
      top: -10rem;
      left: 10rem;
      width: 500px;
      height: 500px;
      background: transparent;
      background: radial-gradient(at center, #08bfdb50, transparent 70%);
    }
  </style>
</Layout>
