---
import BentoItem from "./BentoItem.astro";
---

<div class="lg:grid flex flex-col lg:grid-cols-12 gap-2">
  <BentoItem
    title="Cultural Impact"
    class="col-span-7 bg-[url(/cultural.jpg)]"
    titleClass="mt-96"
  >
    <p>
      Holmes' influence extends far beyond the pages of books. From the original
      stories penned in the late <strong
        >19th century to modern adaptations in film</strong
      >, television, and theater, his character has undergone countless
      interpretations.
    </p>
    <p class="text-white/85">
      The sheer number of adaptations—ranging from Basil Rathbone's classic
      portrayal to Benedict Cumberbatch's contemporary rendition—showcases
      Holmes' enduring popularity and his status as <strong
        >a cultural phenomenon.</strong
      >
    </p>
  </BentoItem>
  <BentoItem
    title="Timeless Themes"
    class="col-span-5 mt-42 bg-[url(/themes.jpg)]"
  >
    <p>
      Holmes' stories are laced with timeless themes that resonate with
      audiences to this day. The pursuit of justice, the triumph of reason over
      emotion, and the celebration of intellect continue to captivate readers
      and viewers.
    </p>
    <p class="text-white/85">
      His unwavering commitment to logic and truth echoes values that remain
      relevant in contemporary society.
    </p>
  </BentoItem>
  <BentoItem
    title="Complex Character"
    class="col-span-6 bg-[url(/complex.jpg)]"
  >
    <p>
      Despite his extraordinary abilities, <strong
        >Sherlock Holmes is a character layered with complexities</strong
      >. His flaws, including his aloofness, addiction struggles, and at times
      abrasive demeanor, humanize him, making him a relatable figure despite his
      exceptional intellect.
    </p>
    <p class="text-white/85">
      This complexity adds depth to his character and contributes to his
      enduring intrigue.
    </p>
  </BentoItem>
  <BentoItem
    title="Relevance Today"
    class="col-span-6 bg-[url(/relevance.jpg)]"
  >
    <p>
      The principles underpinning Holmes' methods—observational prowess,
      deductive reasoning, and logical thinking—are <strong
        >highly relevant in today's world</strong
      >.
    </p>
    <p class="text-white/85">
      From data analysis to decision-making in various disciplines, Holmes'
      approach serves as a blueprint for problem-solving, encouraging a
      structured and analytical mindset.
    </p>
  </BentoItem>
  <BentoItem
    title="Intellectual Legacy"
    class="col-span-7 bg-[url(/holmes_figure.jpg)]"
    titleClass="mt-60"
  >
    <p>
      At the heart of Holmes' appeal lies his exceptional <strong
        >deductive prowess</strong
      >. His methods, founded on acute observation and logical reasoning, have
      not only fascinated readers but have also <strong
        >influenced real-world practices</strong
      >.
    </p>
    <p class="text-white/85">
      Holmes' legacy extends to forensic science, problem-solving techniques,
      and critical thinking methodologies, leaving an indelible mark on fields
      far beyond detective fiction.
    </p>
  </BentoItem>
  <BentoItem
    title="Engagement and Community"
    class="col-span-5 bg-[url(/community.jpg)]"
    titleClass="mt-60"
  >
    <p>
      The fascination with Sherlock Holmes has fostered a <strong
        >vibrant global community of enthusiasts</strong
      >.
    </p>
    <p class="text-white/85">
      Fan clubs, online forums, conventions, and gatherings serve as hubs for
      engagement, discussions, and collaborative exploration of Holmes'
      mysteries. The shared passion for the detective's adventures creates a
      sense of camaraderie among fans worldwide.
    </p>
  </BentoItem>
</div>
